# Build folders
target/
bin/

# Compiled files
*.class

# IDE files (important for Eclipse)
.classpath
.project
.settings/

# Sensitive files
src/main/resources/emails.xlsx
src/main/resources/config.properties